.chat-message {
  margin-bottom: 0.5rem;
}

.summary {
  display: flex;
  margin-bottom: 1rem;
}

.gimmespace {
  margin-bottom: 1rem;
}

.message-box{
  margin: 10px;
  padding: 10px;
}

.chat-message b{
  font-weight: 500;
}